
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'helvetica', 'arial', 'sans';
  background: #e6ffff;    //background color for header section
}

h1,h2,h3,h4 {
  text-align: center;
  font-family: 'helvetica', 'arial', 'sans';
  }


a {
  color: #000;    //text color
}

hr{
    border-color: #FF6165;
    border-style: dashed;
}

.header {
  text-align: center;
  color: #000;
  height: 600px;
  padding: 30px 30px 30px;
}

.header h1 {
  font-size: 50px;
  }

.assignments{
  text-align: center;
}

.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'helvetica', 'arial', 'sans';
  padding: 20px 20px 20px 30px;
  width: 250px;
  height: 350px;
  /*
  float: left; this aligns assignments to left
  */
  display: inline-block; //this aligns assignments to center
}

.assignment a {
    color: #000;
    text-decoration: none;
}

.assignment a:hover {
  background: #FF6165;
  color: #FF6165;
  text-decoration: none;
}


.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #FF6165;
  color: #FFF;
  text-decoration: none;
}

.content {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
}

.blankspace{
  height: 50px;
}

.rotate90{
  padding-top: 12%;
  transform: rotate(90deg);
}
